#header {
  .home {
    &:before {
      content: url(../images/logo.png);
    }
  }
}

#content {
  div.issue {
    /* hide next/prev links */
    .next-prev-links {
     display: none;
    }
    
    /* hide gravatar in issue details */
    img.gravatar {
      display: none;
    }
    .author, .subject {
      padding-left: 0;
    }
    
    /* mark closed issues */
    &.closed {
      .attributes .status {
        color: $red;
      }
      div.subject h3:before {
        color: $red;
        display: inline;
        content: "Geschlossen: ";
      }
    }
  }
}

/* hide roadmap filter options */
#sidebar > form[action$="roadmap"] {
    display: none;
}