#header {
  .home {
    &:before {
      content: url(../images/logo.png);
    }
  }
}

#content {
  div.issue {
    /* hide next/prev links */
    .next-prev-links {
     display: none;
    }
    
    /* hide gravatar in issue details */
    img.gravatar {
      display: none;
    }
    .author, .subject {
      padding-left: 0;
    }
  }
}
