/* Framework variables */
$max-width: 100em;

/* Color variables */
$blue: #446e9b;
$dark-blue: #474d57;
$medium-dark-blue: #506486;
$light-blue: #66afe9;
$blue-green: #019875;
$dark-blue-green: #01694f;
$white: #f9f9f9;
$light-grey: #f2f2f2;
$medium-grey: #cccccc;
$grey-blue: #979da7;
$grey: #777777;
$orange: #f39c12;
$red: #e74c3c;
$green: #2ecc71;
$yellow: #f1c40f;
$text: #333333;

/* Animations */
@include keyframes(fadeIn) {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
